/* Root Styles from Style-Guide.md */
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  /* Typography and Spacing */
  --font-family: "Red Hat Display", sans-serif;
  --font-size-body: 16px;

  --padding: 1.5rem;
  --border-radius: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 5rem;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  background: url(./images/pattern-background-mobile.svg) top center
    no-repeat;
  background-color: var(--pale-blue);
  margin-inline: 2px;
  overflow-y: auto;
}

.container {
  background: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 375px;
  width: 100%;
  overflow: hidden;
  font-weight: 500px;
}

.image-container {
  width: 100%;
}

.content {
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  color: var(--dark-blue);
  font-weight: 900;
  font-size: 22px;
}

p {
  color: var(--desaturated-blue);
  font-size: 16px;
  padding-inline: 1rem;
}

.plan {
  background: var(--very-pale-blue);
  padding-inline: 1.25rem;
  line-height: 1.5;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
}

.plan img {
  width: 40px;
}

.plan-text {
  flex-grow: 1;
  margin-left: 10px;
  text-align: left;
}

.plan-text span {
  display: block;
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 16px;
}

.plan-text small {
  color: var(--desaturated-blue);
  font-size: 14px;
}

.plan a {
  color: var(--bright-blue);
  font-weight: 700;
  font-size: 14px;
}

.btn {
  display: block;
  background: var(--bright-blue);
  color: white;
  padding: 0.725rem 1rem;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-weight: 700;
  box-shadow: 0 5px 15px rgba(0, 0, 255, 0.3);
}

.btn:hover {
  background: hsl(245, 80%, 60%);
}

.cancel {
  display: block;
  margin-bottom: 1rem;
  color: var(--desaturated-blue);
  text-decoration: none;
  font-weight: 700;
}

.cancel:hover {
  color: var(--dark-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
  padding: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  body {
    background: url("./images/pattern-background-desktop.svg") top center
      no-repeat;
    background-color: var(--pale-blue);
  }

  .container {
    max-width: 450px;
  }
}
